@use "../../../styles/vars" as *;
@use "../../../styles/mixins" as *;

.project {
  display: flex;
  flex-direction: column;
  width: 400px;

  gap: 1rem;
  border: 2px solid $med_yellow;
  padding: 1rem;
  border-radius: 30px;
  transition: all 0.5s;

  &.dark-mode {
    border-color: $light_blue;
    span {
      color: $med_yellow;
    }

    p {
      color: $light_color;
    }

    h6 {
      color: $light_teal;
    }

    .buttons {
      button {
        border-color: $med_yellow;
        &:hover {
          background-color: $med_yellow;
        }
      }
    }
  }

  > img {
    width: 100%;
    height: 300px;
    max-width: 100%;
    border-radius: 30px;
  }

  span {
    color: $dark_teal;
    font-weight: 900;
    font-style: italic;
    font-size: 1.5rem;
  }

  p {
    font-size: 18px;
    text-align: justify;
    color: $light_dark;
  }

  h6 {
    font-weight: bold;
    font-size: 1rem;
    color: $med_yellow;
  }

  .buttons {
    display: flex;
    justify-content: center;
    gap: 3rem;

    button {
      outline: none;
      cursor: pointer;
      background-color: transparent;
      border: 2px solid $light_teal;
      padding: 0.5rem 1rem;
      transition: 0.3s;
      &:hover {
        background-color: $dark_teal;
      }
      img {
        width: 40px;
        height: 40px;
      }
    }

    button:first-child {
      border-top-left-radius: 115%;
      border-bottom-left-radius: 115%;
    }

    button:last-child {
      border-top-right-radius: 115%;
      border-bottom-right-radius: 115%;
    }
  }
}
