$main_bg: #e6e7ef;
$titles_dark_color: #00112c;
$light_color: #f3f4f7;
$dark_teal: #00695c;
$light_teal: #00897b;
$light_blue: #0093e9;
$light_dark: #29323c;
$med_yellow: #cf8d2e;
$fast_transition: 0.2s;
$main_transition: 0.5s;
$slow_transition: 0.8s;
