@use "../../styles/vars" as *;
@use "../../styles/mixins" as *;
.about {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  background-image: linear-gradient(275deg, #92ffc0 10%, #002661 100%);
  height: 100vh;

  .about-details {
    color: $light_color;
    line-height: 2;
    text-align: justify;
    margin-left: 5rem;
    font-size: 1.5rem;
  }

  .about-bg {
    margin-top: 3rem;
  }

  @include responsive(desktop) {
    .about-bg {
      margin-top: 3rem;
      width: 40vw;
    }
  }

  @include responsive(tablet) {
    background-image: linear-gradient(175deg, #92ffc0 10%, #002661 100%);
    flex-direction: column-reverse;

    .about-details {
      margin: 2rem 4rem;
      line-height: 1.2;
    }

    .about-bg {
      height: calc(100vh - (430px + 4rem + 93px));
      width: 100vw;
    }
  }
  @include responsive(mobile) {
    background-image: linear-gradient(175deg, #92ffc0 10%, #002661 100%);

    .about-details {
      margin: 0;
      padding: 1rem;
      font-size: 1.2rem;
    }

    .about-bg {
      display: none;
    }
  }
}
