@use "../../styles/vars.scss" as *;
.home {
  display: flex;
  align-items: center;
  gap: 6rem;
  background-color: $main_bg;

  .developer-photo {
    width: 40vw;
    height: 100vh;
    background-color: $dark_teal;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
    display: flex;
    justify-content: flex-end;
    img{
    user-select: none;
    -webkit-user-drag: none;
    }
  }

  .developer-details {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: 0 auto;
    align-items: center;

    .developer-info {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      color: $titles_dark_color;
      h2 {
        font-size: 5rem;
      }
      h3 {
        font-size: 3rem;
      }
      h4 {
        font-size: 3rem;
        font-weight: 900;
        span {
          color: $light_teal;
        }
      }
    }

    .developer-contacts {
      display: flex;
      gap: 3rem;
      font-size: 4rem;

      .linked-in,
      .facebook,
      .github {
        transition: $main_transition;
        cursor: pointer;
      }

      .linked-in {
        color: #0077b5;
        &:hover {
          color: #00a0dc;
        }
      }

      .github {
        color: #212121;
        &:hover {
          color: #424242;
        }
      }

      .facebook {
        color: #1565C0;
        &:hover {
          color: #1E88E5;
        }
      }
    }
  }
}
