@use "../../styles/vars" as *;
@use "../../styles/mixins" as *;

.home {
  display: flex;
  align-items: center;
  gap: 6rem;
  background-color: $main_bg;

  .developer-photo {
    margin-top: 7vh;
    width: 40vw;
    height: 100vh;
    background-color: $dark_teal;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
    display: flex;
    justify-content: flex-end;
  }

  .developer-details {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: 0 auto;
    align-items: center;

    .developer-info {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      color: $titles_dark_color;
      h2 {
        font-size: 5rem;
        font-weight: 900;
        letter-spacing: 5px;
      }
      h3 {
        font-size: 3rem;
      }
      h4 {
        font-size: 3rem;
        font-weight: 900;
        span {
          color: $light_teal;
        }
      }
    }

    .developer-contacts {
      display: flex;
      flex-wrap: wrap;
      gap: 4rem;
      margin: 1rem 0;
      font-size: 4rem;

      .linked-in,
      .facebook,
      .github {
        transition: $main_transition;
        cursor: pointer;
        &:hover {
          transform: translateY(-15px);
        }
      }

      .linked-in {
        color: #0077b5;
        &:hover {
          color: #00a0dc;
        }
      }

      .github {
        color: #212121;
        &:hover {
          color: #424242;
        }
      }

      .facebook {
        color: #1565c0;
        &:hover {
          color: #1e88e5;
        }
      }

      img {
        width: 64px;
        height: 64px;
        transition: $main_transition;
        cursor: pointer;
        &:hover {
          transform: translateY(-15px);
        }
      }
    }
  }

  @include responsive(mobile) {
    flex-direction: column;
    gap: 1rem;

    .developer-photo {
      margin-top: 10vh;
      width: 150vw;
      height: 50vh;
      border-radius: 0%;
      border-top-right-radius: 50%;
      border-top-left-radius: 50%;
      justify-content: center;
      img {
        max-height: 100%;
      }
    }

    .developer-info {
      width: 90vw;
      h2 {
        font-size: 3rem !important;
        font-weight: 900 !important;
      }
      h3 {
        font-size: 2rem !important;
      }
      h4 {
        font-size: 2rem !important;
      }
    }

    .developer-contacts {
      display: grid !important;
      grid-template-columns: repeat(2, 1fr) !important;
      grid-template-rows: repeat(2, 1fr) !important;

      img {
        width: 32px;
        height: 32px;
      }
    }
  }
}
