@use "../../styles/vars" as *;
@use "../../styles/mixins" as *;

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: $light_color;
  padding: 2rem 0;
  position: fixed;
  width: 100vw;
  height: 10vh;
  background-color: $light_blue;
  background-image: linear-gradient(160deg, $light_blue 0%, $light_teal 100%);
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  z-index: 100;

  .title {
    font-size: 1.5rem;
    font-weight: 900;
    user-select: none;
  }

  .nav-links {
    .menu {
      display: none;
    }
    ul {
      display: flex;
      gap: 3rem;

      a {
        color: $light_color;
        font-size: 1.5rem;
        text-decoration: none;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        transition: $main_transition;

        &:hover {
          color: $light_dark;
          font-weight: bold;
        }
      }
    }
    .class-active {
      font-weight: bold;
      color: $light_dark;
    }
  }

  .sunmoon {
    position: absolute;
    right: 0;
    cursor: pointer;
  }

  @include responsive(tablet) {
    border-radius: 0;
    justify-content: space-between;
    .title {
      font-size: 1.5rem;
      order: 2;
    }

    .nav-links {
      width: fit-content;
      order: 3;
      margin-right: 2rem;
      position: relative;
      .menu {
        display: flex;
        flex-direction: column;
        gap: 4px;
        width: fit-content;
        cursor: pointer;
        transition: 0.3s;
        padding-right: 0;
        span {
          width: 30px;
          height: 5px;
          background-color: $med_yellow;
          &:nth-child(2) {
            width: 20px;
            margin-left: auto;
          }
        }
        &.open {
          transform: rotate(630deg) scaleX(0.2) translateY(10px);

          span {
            border-radius: 50%;
            height: 8px;
            width: 50px;

            &:nth-child(2) {
              width: 50px;
            }
          }
        }
      }
      ul {
        background-color: #29323ce2;
        border-bottom-left-radius: 1rem;
        position: absolute;
        right: -2rem;
        top: 6.5vh;
        gap: 2rem;
        padding: 1rem;
        flex-direction: column;
        transform-origin: top center;
        a {
          font-size: 1.3rem;
          padding: 0.3rem 0.5rem;

          &:hover {
            color: $med_yellow;
            font-weight: unset;
          }
        }

        &.open-menu {
          animation: open-menu 600ms ease-out;
          transform: scale(1);
        }

        &.close-menu {
          animation: close-menu 400ms ease-in;
          transform: scale(0);
        }
      }

      .class-active {
        color: $light_color;
      }
    }
    .sunmoon {
      position: relative;
      order: 1;
    }
  }

  @include responsive(mobile) {
    border-radius: 0;
    justify-content: space-between;
    .title {
      font-size: 0.8rem;
      order: 2;
    }

    .nav-links {
      width: fit-content;
      order: 3;
      margin-right: 2rem;
      position: relative;
      .menu {
        display: flex;
        flex-direction: column;
        gap: 3px;
        width: fit-content;
        cursor: pointer;
        transition: 0.3s;
        padding-right: 0;
        span {
          width: 20px;
          height: 3px;
          background-color: $med_yellow;
          &:nth-child(2) {
            width: 15px;
            margin-left: auto;
          }
        }
        &.open {
          transform: rotate(450deg) scaleX(0.2);
          span {
            border-radius: 50%;
            height: 4px;

            &:nth-child(2) {
              width: 20px;
            }
          }
        }
      }
      ul {
        background-color: #29323ce2;
        border-bottom-left-radius: 1rem;
        position: absolute;
        right: -2rem;
        direction: rtl;
        top: 6vh;
        gap: 1rem;
        padding: 5px;
        flex-direction: column;
        transform-origin: top center;
        a {
          font-size: 1rem;
          padding: 0.5rem;

          &:hover {
            color: $med_yellow;
            font-weight: unset;
          }
        }

        &.open-menu {
          animation: open-menu 600ms ease-out;
          transform: scale(1);
        }

        &.close-menu {
          animation: close-menu 400ms ease-in;
          transform: scale(0);
        }
      }

      .class-active {
        color: $light_color;
      }
    }
    .sunmoon {
      position: relative;
      order: 1;
    }
  }
}

@keyframes open-menu {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(-20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}

@keyframes close-menu {
  0% {
    opacity: 1;
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(-20deg);
  }
  100% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
}
